HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Orenda runtime artifacts (do not commit) ###
/.last_sync_timestamp
/exports/
/data/tripadvisor-browser-profile/
/data/tripadvisor-crawl-stops.csv
/data/tripadvisor-debug/
/data/tripadvisor-images/
